<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Calculator</title>
</head>
<body>
    <div id="app">   
    <div class="grid">
        <input @keyup.enter="calc()" type="text" v-model="result" placeholder="0">
        <button @click="reset()" class="cell op">C</button>
        <button @click="reset()" class="cell op">CE</button>
        <button @click="calc()" class="cell op">=</button>
        <button @click="input(num)" class="cell num" v-for="num in numbers">{{num}}</button>
        <button @click="input(op)" class="cell op" v-for="op in operations">{{op}} </button>
        </div>
    </div>
</body>
<script src="script.js"></script>
</html>